.determinedDiv{
    height:100vh;
    width:100vw;
    background-color:#CEA252;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url(../../images/nobel_categories.jpeg);
    background-size:cover;
    background:cover;
}
.seeResults{
    height: 15%;
    width: 25%;
    background-color: #612C2B;
    font-size: 2em;
    margin-top:7%;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)
}

.seeResults:hover{
    cursor: pointer;
    font-size:2.5em;
    background-color:#371717;
}

.resultsComponentDiv{
    height:100vh;
    width: 100vw;
    display:flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    color: #CEA252;
    background-color: #371717;
}
.matchDetails, .studentDetails{
    border:2px solid black;
    background-color: #612C2B;
    height: 80%;
    width: 40%;
    padding: 2%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.matchName{
    font-size: 3.5em;
    text-align: center;
}

.matchCategory, .correctCategories{
    font-size: 2em;
    text-align:center;
}

.matchQuote{
    color:black;
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}

.retakeButton{
    margin-top:55%;
    background-color: #CEA252;
    border-radius: 4%;
    color: black;
    font-size: 1em;
    font-weight: bolder;
    height: 70%;
    width: 90%;
}
.retakeButton:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.external-link{
    font-size: 1em;
    text-decoration: underline;
    color: white;
    font-weight: bolder;
}

@media only screen and (max-width: 970px) {
    .matchName {
        font-size: 2.5em;
    }
     .matchCategory,
     .matchQuote,
     .correctCategories {
         font-size: 1.5em;
    }
}

@media only screen and (max-width: 600px) {
    .matchName {
        font-size: 2em;
    }
}

@media only screen and (max-width: 400px) {
    .matchName {
        font-size: 1.2em;
    }
    .matchCategory,
    .matchQuote,
    .correctCategories {
        font-size: 1em;
    }
}