.homeDiv{
    min-height:100vh;
    background-image: url(../../images/medal.jpeg);
    background-size: cover;
}

.homeText{
    height:90%;
    color: #cea252;
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: end;
    padding-right: 5%;
    text-align: end;
}

.title {
    font-size: 6em;
}

.subTitle {
    font-size: 3em;
    margin-bottom: 15%;
}

.go{
    height:10vh;
    width:10vw;
    background-color:#CEA252;
    font-size:1.5em;
    border: 2px solid black;
}

.go:hover{
    cursor:pointer;
    font-size:2em;
    font-weight: bolder;
}

@media only screen and (max-width: 745px) {
    .homeText {
        height: 60%;
        margin: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 745px) {
    .title {
        font-size:4em
    }
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 2.5em
    }
}

@media only screen and (max-width: 745px) {
    .subTitle {
        font-size: 2em
    }
}

@media only screen and (max-width: 500px) {
    .subTitle {
        font-size: 1.5em
    }
}

@media only screen and (max-width: 725px) {
    .go {
        height: 10vh;
        width: 13vw;
        font-size: 1.5em;
        display:flex;
        justify-content: center;
        align-content:center;
        align-items:center;
    }
}

@media only screen and (max-width: 657px) {
    .go {
        height: 10vh;
        width: 15vw;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 540px) {
    .go {
        height: 10vh;
        width: 17vw;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}